body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-bg);
  background-image: url("../Pictures/stars.png");
  color: var(--redberry-red);
}
#center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.link {
  text-decoration: none;
}
#start {
  background-color: var(--redberry-red);
  color: var(--redberry-white);
  border-radius: 50px;
  text-align: center;
  height: max-content;
  width: auto;
}
#application {
  text-decoration: underline;
  text-decoration-color: var(--redberry-red);
}
img {
  width: 30%;
  height: auto;
}
